.cproject
.project
.settings
*.o
*.bin
*.elf
*~
a.out
main.dis
main_dump.txt
mcu_src/openocd.log
interpreter
main.txt

debug.gdb
main.hex
openocd.log
signalchain_test
build
display/display.a
target_build
host_build
build
